#outer
{
	height:auto;
	width:100%;
	border:0px solid;
	//background-color:#e8e8ff;
}
#menu
{
	height:61px;
	width:100%;
	background-color:#c0c0c0;
	padding:1px;
}
#menu ul
{
	font-size:20px;
	list-style-type:none;
}
#menu ul li
{
	display:inline;
	padding:20px;
}
#menu ul li:hover
{
	background:-webkit-radial-gradient(skyblue 60%,orange 40%);
}
#menu ul li a
{
	text-decoration:none;
	color:brown;
}						
#header
{
	height:180px;
	width:100%;
	background-color:#e8e8ff;
}
#headerleft
{
	height:180px;
	width:1000px;
	border:0px solid;
	float:left;
}
#headerimg
{
	height:180px;
	width:332px;
	border:0px solid;
	background-image:url('../images/images.png');
	float:left;
}
#content
{
	height:600px;
	width:100%;
	//background-color:grey;
}
#contentleft
{
	height:600px;
	width:700px;
	background-color:grey;
	float:left;
}
#contentright
{
	height:452px;
	width:633px;
	background-color:grey;
	float:left;
}
#footer
{
	height:70px;
	width:100%;
	background-color:black;
	border-radius:10px;
}